* {
margin: 0;
padding: 0;
font-family: "lucida-sans";}


header {
text-align: center;}

body {padding-bottom: 3em;}

.cuerpo-color {
background-color: #42378f;
background-image: 
linear-gradient(315deg, #42378f 0%, #f53844 74%);
}

.localidad-texto {
font-family: "cambria";
font-size: xx-large;
color: white;
}

.titulo-principal {
font-size: xx-large;
}

main {
    text-align: center;}

.titulosJuegos {
font-family: "Impact";
font-size: xx-large;
color: white;
}

.textoJuegos {
font-family: "Impact";
font-size: large;
color: white;
}

.accordion-item {
    color: white;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    
}

.accordion-button {
    background-color: #f5d020;
    background-image: 
    linear-gradient(315deg, #f5d020 0%, #f53803 74%);}

.localidades-main {
}

